# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast

# Doc Artifacts
docs-temp/

# Dotenv file
.env

# Built files
bin/
lib/
script/artifacts/
